<?xml version="1.0" encoding="UTF-8"?>
<skinConfiguration>
    <information>
        <id>1015444875a4683cda5b790050833568</id><!-- 00000000000000000000000000000002 -->
        <name>Concord</name><!-- neoclassic -->
<workspace></workspace>
        <description></description><!-- New default skin -->
        <author>Jon Catlin</author><!-- ProcessMaker Team -->
        <version>1.0</version>
        <createDate>2017-12-29 13:05:01</createDate><!-- 2012-05-06 -->
        <modifiedDate>2017-12-29 13:05:01</modifiedDate><!-- 2012-05-06 -->
    </information>
    <cssFiles>
        <skin>
            <cssFile file="style.css" enabledBrowsers="ALL" disabledBrowsers=""></cssFile>
            <cssFile file="form.css" enabledBrowsers="ALL" disabledBrowsers=""></cssFile>
            <cssFile file="sprite_ie7.css" enabledBrowsers="ie7" disabledBrowsers="ALL"></cssFile>
            <cssFile file="sprite.css" enabledBrowsers="ALL" disabledBrowsers="ie7"></cssFile>
            <cssFile file="rtl.css" enabledBrowsers="ALL" disabledBrowsers=""></cssFile>
            <cssFile file="loginStyle.css" enabledBrowsers="ALL" disabledBrowsers=""></cssFile>            
        </skin>
        <blank>
            <cssFile file="style.css" enabledBrowsers="ALL" disabledBrowsers=""></cssFile>
            <cssFile file="form.css" enabledBrowsers="ALL" disabledBrowsers=""></cssFile>
            <cssFile file="sprite_ie7.css" enabledBrowsers="ie7" disabledBrowsers="ALL"></cssFile>
            <cssFile file="sprite.css" enabledBrowsers="ALL" disabledBrowsers="ie7"></cssFile>
            <cssFile file="rtl.css" enabledBrowsers="ALL" disabledBrowsers=""></cssFile>
        </blank>
        <raw>
        </raw>
        <submenu>
            <cssFile file="style.css" enabledBrowsers="ALL" disabledBrowsers=""></cssFile>
            <cssFile file="form.css" enabledBrowsers="ALL" disabledBrowsers=""></cssFile>
            <cssFile file="sprite_ie7.css" enabledBrowsers="ie7" disabledBrowsers="ALL"></cssFile>
            <cssFile file="sprite.css" enabledBrowsers="ALL" disabledBrowsers="ie7"></cssFile>
            <cssFile file="rtl.css" enabledBrowsers="ALL" disabledBrowsers=""></cssFile>
        </submenu>
        <tracker>
            <cssFile file="style.css" enabledBrowsers="ALL" disabledBrowsers=""></cssFile>
            <cssFile file="form.css" enabledBrowsers="ALL" disabledBrowsers=""></cssFile>
            <cssFile file="sprite_ie7.css" enabledBrowsers="ie7" disabledBrowsers="ALL"></cssFile>
            <cssFile file="sprite.css" enabledBrowsers="ALL" disabledBrowsers="ie7"></cssFile>
            <cssFile file="rtl.css" enabledBrowsers="ALL" disabledBrowsers=""></cssFile>
        </tracker>
        <extjs>
            <cssFile file="xtheme-gray.css" enabledBrowsers="ALL" disabledBrowsers=""></cssFile>
            <cssFile file="pmos-xtheme-gray.css" enabledBrowsers="ALL" disabledBrowsers=""></cssFile>
            <cssFile file="sprite_ie7.css" enabledBrowsers="ie7" disabledBrowsers="ALL"></cssFile>
            <cssFile file="sprite.css" enabledBrowsers="ALL" disabledBrowsers="ie7"></cssFile>
            <cssFile file="rtl.css" enabledBrowsers="ALL" disabledBrowsers=""></cssFile>
        </extjs>
    </cssFiles>
</skinConfiguration>
